.ptLabel {
    font-size: 14px;
    color: black;
    z-index: 100;
    white-space: pre;
}

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: blanchedalmond;
    padding: 20px;
}

.toggles {
    top: 45%;
    position: absolute;
}

.companyInfo {
    text-wrap: wrap;
}

h1, h2, h3 {
    margin-bottom: 0;
}
